*,
::before,
::after {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 1;
	text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-family: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:focus {
	outline: none;
}

header,
nav,
aside,
footer {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

a,
button {
	color: inherit;
}

body {
	font-family: Montserrat, sans-serif;
	background: url("../img/bg_gray.jpg");
	color: rgb(255, 255, 255);
}

.container {
	max-width: 1170px;
	padding: 0px 10px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: "Russo One", sans-serif;
}

.section {
	margin-bottom: 50px;
}

.section__title {
	font-family: "Russo One", sans-serif;
	font-size: 36px;
	text-align: center;
	padding-top: 50px;
}

.section__subtitle {
	font-size: 18px;
	text-align: center;
}

._reset {
	border: none;
	background-color: transparent;
}

.button {
	font-family: "Russo One", sans-serif;
	font-size: 20px;
	border-radius: 5px;
	height: 60px;
	width: 300px;
	background: linear-gradient(rgb(193, 102, 73) 0%, rgb(227, 73, 73) 99%, rgb(227, 73, 73) 100%);
	color: rgb(255, 255, 255);
}

.header {
	position: fixed;
	width: 100%;
	z-index: 30;
}

.header__content {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.header__logo {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.logo__icon {
	transition: all 0.1s ease-in-out 0s;
}

.logo__icon:hover {
	opacity: 0.7;
}

.header__contacts {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.logo__icon {
	fill: rgb(255, 255, 255);
	width: 80px;
	height: 80px;
}

.logo__descript {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-left: 23px;
	font-size: 14px;
}

.logo__descript::before {
	content: "";
	background-color: rgb(255, 255, 255);
	width: 1px;
	height: 50px;
	margin-right: 14px;
}

.contacts__social {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 30px;
}

.contacts__connect {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.contacts__tel {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	transition: all 0.1s ease-in-out 0s;
}

.contacts__tel:hover {
	opacity: 0.7;
}

.contacts__button {
	text-decoration: underline;
	transition: all 0.1s ease-in-out 0s;
}

.contacts__button:hover {
	text-decoration: none;
	opacity: 0.7;
}

.social__link:not(:last-child) {
	margin-right: 8px;
}

.social__icon {
	fill: rgb(255, 255, 255);
	width: 26px;
	height: 26px;
	transition: all 0.1s ease-in-out 0s;
}

.social__icon:hover {
	opacity: 0.7;
}

.menu {
	margin-left: 18px;
}

.menu__icon {
	fill: rgb(255, 255, 255);
	width: 42px;
	height: 42px;
	transition: all 0.1s ease-in-out 0s;
}

.menu__icon:hover {
	opacity: 0.7;
}

.menu__content {
	position: fixed;
	inset: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	visibility: hidden;
	opacity: 0;
	transform: translateX(100%);
}

.menu__burger.active {
	border: none;
	outline: none;
}

.menu__burger.active~.menu__content {
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
}

.menu__burger.active~.menu__content .menu__block {
	transform: translateX(0%);
}

.menu__block {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 100vh;
	transform: translateX(100%);
	transition: all 0.3s ease 0s;
	background-color: rgb(0, 0, 0);
}

.menu__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.menu__burger {
	background: none;
	fill: rgb(255, 255, 255);
}

.menu__info {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	height: 100vh;
	align-items: center;
}

.menu__nav {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin: 50% 0px;
	align-items: center;
}

.menu__link {
	font-size: 18px;
	letter-spacing: 0.1em;
	transition: all 0.1s ease-in-out 0s;
}

.menu__link:not(:last-child) {
	margin-bottom: 20px;
}

.menu__link:hover {
	opacity: 0.7;
}

header.scrolled {
	background-color: rgba(255, 255, 255, 0.9);
}

header.scrolled .header__logo .logo__icon {
	fill: rgb(48, 48, 48);
}

header.scrolled .logo__descript {
	color: rgb(48, 48, 48);
}

header.scrolled .logo__descript::before {
	background-color: rgb(48, 48, 48);
}

header.scrolled .contacts__social .social__icon {
	fill: rgb(48, 48, 48);
}

header.scrolled .header__contacts .menu__burger .menu__icon {
	fill: rgb(48, 48, 48);
}

header.scrolled .header__contacts .contacts__tel,
header.scrolled .header__contacts .contacts__button {
	color: rgb(48, 48, 48);
}

.welcome {
	background: url("../img/bg_welcome.jpg") center center / cover no-repeat;
	min-height: 600px;
	max-height: 800px;
	height: 100vh;
}

.welcome__content {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 600px;
	max-height: 800px;
	height: 100vh;
}

.welcome__title {
	font-size: 48px;
	max-width: 775px;
	margin-bottom: 50px;
}

.welcome__list {
	margin-bottom: 50px;
}

.welcome__item {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.welcome__item:not(:last-child) {
	margin-bottom: 12px;
}

.welcome__icon {
	fill: rgb(255, 255, 255);
	width: 36px;
	height: 36px;
	margin-right: 14px;
}

.welcome__button {
	font-family: "Russo One", sans-serif;
	font-size: 20px;
	padding: 15px;
	width: 260px;
	text-align: center;
	background: linear-gradient(rgb(193, 102, 73) 0px, rgb(227, 73, 73) 99%, rgb(227, 73, 73) 100%);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	transition: all 0.2s ease-in-out 0s;
}

.welcome__button .flare {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 45px;
	transform: skewX(-45deg);
	left: -150%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	animation: 2s linear 0s infinite normal none running flareAnimation;
}

@-webkit-keyframes flareAnimation {
	0% {
		left: -150%;
	}

	100% {
		left: 150%;
	}
}

@keyframes flareAnimation {
	0% {
		left: -150%;
	}

	100% {
		left: 150%;
	}
}

.stages {
	color: rgb(0, 0, 0);
}

.step__stage {
	font-size: 18px;
}

.stage_1::after {
	content: "Заключаем договор автотранспортного средства";
	display: flex;
	font-size: 18px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	margin-top: 30px;
	width: 216px;
}

.process-wrapper {
	margin: auto;
	max-width: 100%;
}

.stages__mobile {
	display: none;
}

.progress-bar-container {
	position: relative;
	width: 100%;
	margin: 0px auto auto;
	height: 100px;
}

.progress-bar-container ul {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 16px 0px 0px;
	margin: 60px 0px 0px;
	z-index: 2;
	position: absolute;
	width: 100%;
}

.line-progress {
	width: 100%;
	margin: 102px auto;
	background: rgb(0, 0, 0);
	height: 9px;
	position: absolute;
	left: 0%;
	z-index: 1;
	border-radius: 50px;
}

li.step {
	width: 64px;
	background: rgb(0, 0, 0);
	height: 64px;
	padding-top: 14px;
	text-align: center;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	font-family: "Russo One";
	font-size: 36px;
}

.line-progress {
	-webkit-box-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	justify-content: center;
	display: flex;
}

.image-car {
	position: relative;
	max-width: 262px;
	height: auto;
	margin: 0px;
	left: 39.5%;
	top: -112px;
}

.wallform__wrap {
	text-align: center;
}

.our__service-1 {
	display: flex;
	justify-content: space-around;
	margin-bottom: -35px;
	padding-top: 70px;
}

.our__service-2 {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 87px;
}

.work__text {
	color: rgb(0, 0, 0);
	display: flex;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
}

.button__service {
	background: transparent;
	border-radius: 5px;
	border: 2px solid rgb(227, 73, 73);
	opacity: 0.99;
	color: rgb(0, 0, 0);
	font-family: "Russo One";
	font-size: 20px;
	font-weight: 400;
	padding: 20px 52px;
	cursor: pointer;
	transition: all 0.2s ease-in-out 0s;
	margin-top: 40px;
}

.button__service-mob {
	background: transparent;
	border-radius: 5px;
	border: 2px solid rgb(227, 73, 73);
	opacity: 0.99;
	color: rgb(0, 0, 0);
	font-family: "Russo One";
	font-size: 16px;
	font-weight: 400;
	padding: 20px 48px;
	cursor: pointer;
	transition: all 0.2s ease-in-out 0s;
	max-width: 300px;
	margin: 20px auto 0px;
}

.button__service:hover {
	background: rgb(227, 73, 73);
	border: 2px solid rgb(227, 73, 73);
	color: rgb(255, 255, 255);
}

.advantages {
	color: rgb(0, 0, 0);
}

.advantages__title {
	margin-bottom: 70px;
}

.advantages__info {
	position: relative;
}

.advantages__image {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.advantages__pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.advantages__pulse::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid rgba(126, 126, 126, 0.3);
	border-radius: 50%;
	width: 500px;
	height: 500px;
	animation: 2000ms ease-out 0s infinite normal none running pulse-border;
}

.advantages__pulse::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid rgba(126, 126, 126, 0.3);
	border-radius: 50%;
	width: 300px;
	height: 300px;
	transition: all 200ms ease 0s;
	animation: 2000ms ease-out 0s infinite normal none running pulse-border;
}

.advantages__list {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.advantages__item {
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 250px;
}

.advantages__item-01 {
	left: 5%;
	top: 20%;
}

.advantages__item-02 {
	left: 0%;
	top: 45%;
}

.advantages__item-03 {
	left: 5%;
	top: 80%;
}

.advantages__item-04 {
	right: 5%;
	top: 20%;
}

.advantages__item-05 {
	right: 0%;
	top: 45%;
}

.advantages__item-06 {
	right: 5%;
	top: 80%;
}

@-webkit-keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1);
		opacity: 1;
	}

	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1);
		opacity: 1;
	}

	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1.5);
		opacity: 0;
	}
}

.calculator {
	padding-top: 50px;
	padding-bottom: 285px;
	background-image: url("../img/calculator__bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.main__title {
	font-family: "Russo One";
	font-size: 36px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-bottom: 70px;
}

.calculator__transport {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
	-webkit-box-align: baseline;
	align-items: baseline;
	margin-bottom: 30px;
}

.calculator__inner {
	margin-bottom: 30px;
}

.calculator__item {
	text-align: center;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.calculator__ico {
	display: block;
	width: 60px;
	height: 60px;
	fill: rgb(255, 255, 255);
}

input {
	width: 100%;
	padding: 6px 0px 4px 10px;
	border: 2px solid rgb(255, 255, 255);
	background-color: transparent;
	color: rgb(255, 255, 255);
	outline: none;
	border-radius: 5px;
}

.phone {
	width: 270px;
	height: 56px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	font-family: Montserrat;
	color: rgb(110, 110, 110);
	border: none;
	box-shadow: rgb(216, 216, 216) -1px 3px 10px 1px inset;
}

.calculator__item p {
	margin-top: 12px;
	display: block;
	color: rgb(255, 255, 255);
}

.calculator__wrapper {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.calculator__form {
	width: 100%;
	max-width: 641px;
}

.field__carprice,
.field__deposit {
	margin-bottom: 42px;
}

.left {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.left__title {
	position: absolute;
	padding-left: 10px;
}

.left__input {
	padding-right: 10px;
	text-align: end;
}

.form__text {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.form__text p {
	display: block;
	font-size: 14px;
	color: rgb(255, 255, 255);
}

.calculator__submit {
	width: 100%;
	max-width: 410px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
	padding: 30px 30px 75px;
	position: relative;
}

.results__info,
.results__description {
	margin-bottom: 18px;
}

.results__info p {
	font-weight: bold;
	padding-top: 18px;
}

.results__line {
	max-width: 351px;
	height: 1px;
	background-color: rgb(209, 209, 209);
	margin-top: 17px;
}

.results__text {
	display: block;
	color: rgb(255, 255, 255);
	line-height: 1.8;
}

.form__wrapper {
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url("../img/bg_gray.jpg");
	background-size: cover;
	background-repeat: repeat;
	padding: 5px;
	border-radius: 5px;
}

.form__line {
	border: 1px solid rgb(209, 209, 209);
}

.form__inner {
	background-image: url("../img/png/keys.png");
	background-repeat: no-repeat;
	background-position: 102% 106%;
	padding-bottom: 50px;
}

.form__content {
	max-width: 100%;
	width: 980px;
	margin: 0px auto;
}

.form-content {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.form__title {
	padding-top: 20px;
	padding-bottom: 16px;
	display: block;
	font-family: "Russo One";
	font-weight: 400;
	font-size: 36px;
	color: rgb(0, 0, 0);
	text-align: center;
}

.form__subtitle {
	display: block;
	font-weight: 400;
	color: rgb(0, 0, 0);
	margin-bottom: 40px;
	text-align: center;
}

.stages__info {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	position: relative;
	max-width: 83%;
	margin-right: auto;
	margin-left: auto;
	z-index: 9;
}

.stages__info::before {
	content: "";
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.stages__circle-01::after {
	content: "Оставляете заявку и мы с вами связываемся";
}

.stages__circle-02::before {
	content: "Заключаем договор автотранспортного средства";
}

.stages__circle-03::after {
	content: "Выкупаем автомобиль и передаем его вам";
}

.stages__circle-04::before {
	content: "Пользуетесь автотранспортным cредством";
}

.stages__circle-05::after {
	content: "Вносите выкупной платеж";
}

.stages__circle-01::after,
.stages__circle-03::after,
.stages__circle-05::after {
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: 80px;
	font-size: 20px;
	text-align: center;
	width: 250px;
	color: rgb(0, 0, 0);
	margin-top: 15px;
}

.stages__title {
	margin-bottom: 170px;
}

.stages__circle-02::before,
.stages__circle-04::before {
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: -100px;
	font-size: 20px;
	text-align: center;
	width: 302px;
	color: rgb(0, 0, 0);
}

.stages__circle {
	font-family: "Russo One", sans-serif;
	font-size: 30px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

.form__feedback {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	align-items: baseline;
}

.cta,
.btn__results {
	background-color: rgb(227, 73, 73);
	background-image: linear-gradient(rgb(193, 102, 73) 0%, rgb(227, 73, 73) 99%, rgb(227, 73, 73) 100%);
	color: rgb(255, 255, 255);
	padding: 18px 69px;
	border-radius: 5px;
	text-decoration: none;
	font-family: "Russo One";
	font-size: 20px;
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
	transition: all 0.2s ease-in-out 0s;
}

.cta__span {
	position: relative;
	z-index: 1;
}

.cta::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-image: linear-gradient(rgb(185, 84, 50) 0px, rgb(218, 51, 51) 99%, rgb(204, 38, 38) 100%);
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

.cta:hover::after {
	opacity: 1;
}

.btn__results {
	position: absolute;
	display: flex;
	bottom: -8%;
	left: 75px;
}

.input__form__cta {
	width: 270px;
	margin-right: 40px;
	height: 56px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	color: rgb(110, 110, 110);
	border: none;
	box-shadow: rgb(216, 216, 216) -1px 3px 10px 1px inset;
}

.btn__results {
	position: absolute;
	display: flex;
	bottom: -8%;
}

input[type="range"] {
	overflow: hidden;
	width: 100%;
	appearance: none;
	border: none;
	padding: 0px;
	margin: 0px;
	transition: all 0.2s ease-in-out 0s;
}

input[type="range"]:hover {
	opacity: 0.7;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	appearance: none;
	height: 20px;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(203, 91, 73);
	border-radius: 50%;
	cursor: pointer;
}

.input__form,
.phone {
	width: 275px;
	height: 56px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	color: rgb(110, 110, 110);
	border: none;
	box-shadow: rgb(216, 216, 216) -1px 3px 10px 1px inset;
	transition: all 0.4s ease 0s;
}

.btn__results {
	position: absolute;
	display: flex;
}

.wallform {
	color: rgb(0, 0, 0);
}

.wallform__frame {
	border-radius: 5px;
	border: 1px solid rgb(222, 218, 218);
	padding: 30px 50px;
}

.wallform__title {
	font-family: "Russo One", sans-serif;
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
}

.wallform__title span {
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	display: block;
	margin-top: 8px;
}

.wallform__fill {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.wallform__button {
	margin-bottom: 10px;
}

.wallform__politic {
	font-size: 14px;
	text-align: center;
	width: 300px;
	margin-top: 5px;
}

.wallform__link {
	text-decoration: underline;
	transition: all 0.1s ease-in-out 0s;
}

.wallform__link:hover {
	text-decoration: none;
	opacity: 0.7;
}

.input.error {
	border: 2px solid rgb(255, 0, 0);
	margin: 0px 0px 10px;
}

label.error {
	display: block;
	font-size: 14px;
	width: 280px;
	text-align: center;
	margin: 0px 0px 30px;
}

.form-subtitle {
	font-size: 14px;
	color: rgb(0, 0, 0);
	max-width: 300px;
	margin-top: 5px;
	text-align: center;
}

.form-text-link {
	text-decoration: underline;
	transition: all 0.2s ease-in-out 0s;
}

.modal {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	color: rgb(0, 0, 0);
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.modal__content {
	position: relative;
	background: url("../img/bg_gray.jpg");
	border-radius: 5px;
	transform: translateY(100%);
	transition: all 0.5s ease 0s;
	padding: 5px;
}

.modal__frame {
	border: 1px solid rgb(222, 218, 218);
	border-radius: 5px;
	padding: 50px 300px;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal__icon {
	width: 36px;
	height: 36px;
}

.wallform__input,
.phone {
	width: 275px;
	height: 56px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #fff;
	font-family: "Montserrat";
	font-size: 16px;
	color: #6e6e6e;
	border: none;
	box-shadow: inset -1px 3px 10px 1px #d8d8d8;
	transition: 0.4s;
}

.input__content {
	position: relative;
	margin-bottom: 18px;
}

.wallform__input~.focus-border:before,
.wallform__input~.focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #e34949;
	transition: 0.3s;
}

.wallform__input~.focus-border:after {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}

.wallform__input~.focus-border i:before,
.wallform__input~.focus-border i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #e34949;
	transition: 0.4s;
}

.wallform__input~.focus-border i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}

.wallform__input:focus~.focus-border:before,
.wallform__input:focus~.focus-border:after {
	width: 100%;
	transition: 0.3s;
}

.wallform__input:focus~.focus-border i:before,
.wallform__input:focus~.focus-border i:after {
	height: 100%;
	transition: 0.4s;
}

.popup {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	color: rgb(0, 0, 0);
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.popup__form {
	position: relative;
	background: url("..//img/png/keys.png") 110% 110% no-repeat, url("../img/bg_gray.jpg");
	padding: 5px;
	transform: translateY(100%);
	transition: all 0.5s ease 0s;
	border-radius: 5px;
}

.popup__frame {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid rgb(222, 218, 218);
	padding: 30px 30px 50px;
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.popup__icon {
	width: 36px;
	height: 36px;
}

.popup__title {
	font-family: "Russo One", sans-serif;
	font-size: 24px;
	margin-bottom: 50px;
}

.popup__title span {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	display: block;
	margin-top: 8px;
}

.popup__fill {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.popup__input {
	margin-bottom: 20px;
}

.popup__politic {
	font-size: 14px;
	text-align: center;
	width: 300px;
}

.popup__link {
	text-decoration: underline;
}

.popup__link:hover {
	text-decoration: none;
	color: rgb(185, 179, 179);
}

.popup__button {
	margin-bottom: 8px;
}

.popup__warn {
	display: none;
}

.input {
	padding: 0px 10px;
	border-radius: 5px;
	height: 70px;
	width: 300px;
	box-shadow: rgb(216, 216, 216) -1px 3px 10px 1px inset;
}

.popup.active {
	opacity: 1;
	visibility: visible;
}

.popup.active .popup__form {
	transition: all 0.5s ease 0s;
	transform: translateX(0%);
}

.modal__title {
	font-family: "Russo One", sans-serif;
	font-size: 24px;
}

.modal.active {
	opacity: 1;
	visibility: visible;
}

.modal.active .modal__content {
	transition: all 0.5s ease 0s;
	transform: translateX(0%);
}

.input {
	padding: 0px 10px;
	border-radius: 5px;
	height: 70px;
	width: 300px;
	box-shadow: rgb(216, 216, 216) -1px 3px 10px 1px inset;
	color: rgb(0, 0, 0);
	border: none;
}

.form {
	position: absolute;
	width: 100%;
	bottom: -15%;
}

.partners {
	color: rgb(0, 0, 0);
	padding-top: 110px;
}

.partners__title {
	margin-bottom: 18px;
}

.partners__subtitle {
	margin-bottom: 70px;
}

.partners__list {
	display: grid;
	text-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	grid-template-columns: repeat(3, 1fr);
	gap: 80px 10px;
}

.qa {
	color: rgb(0, 0, 0);
	margin-bottom: 50px;
}

.qa__title {
	margin-bottom: 18px;
}

.qa__subtitle {
	margin-bottom: 70px;
}

.qa__wrapper {
	background: rgb(255, 255, 255);
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;
}

.qa__hidden {
	font-size: 16px;
}

.qa__frame {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid rgb(222, 218, 218);
	padding: 40px 20px;
}

.qa__accordion:not(:last-child) {
	margin-bottom: 50px;
}

.qa__accordion::after {
	content: "";
	display: flex;
	background: rgb(222, 218, 218);
	width: 100%;
	height: 0.5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.qa__current {
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	transition: all 0.3s linear 0s;
	line-height: 1.3;
}

.qa__current::after {
	content: "›";
	position: relative;
	color: rgb(209, 209, 209);
	font-size: 30px;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}

.qa__hidden {
	line-height: 1.3;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out 0s;
}

.qa__current.active {
	margin-bottom: 30px;
}

.qa__current.active::after {
	transform: rotate(90deg);
}

.footer {
	background-color: rgb(56, 56, 56);
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer__content {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.footer__politics {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__security {
	margin-top: 3px;
}

.footer__contacts {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.footer__link {
	text-decoration: underline;
}

.input__form~.focus-border::after,
.input__form~.focus-border::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 2px;
	background-color: rgb(227, 73, 73);
	transition: all 0.3s ease 0s;
}

.input__form~.focus-border::after {
	inset: auto 0px 0px auto;
}

.input__form~.focus-border i::after,
.input__form~.focus-border i::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2px;
	height: 0px;
	background-color: rgb(227, 73, 73);
	transition: all 0.4s ease 0s;
}

.input__form~.focus-border i::after {
	inset: auto 0px 0px auto;
}

.input__form:focus~.focus-border::after,
.input__form:focus~.focus-border::before {
	width: 100%;
	transition: all 0.3s ease 0s;
}

.input__form:focus~.focus-border i::after,
.input__form:focus~.focus-border i::before {
	height: 100%;
	transition: all 0.4s ease 0s;
}

.webp body {
	background: url("../img/bg_gray.webp");
}

.webp .welcome {
	background: url("../img/bg_welcome.webp") center center / cover no-repeat;
}

.webp .calculator {
	background-image: url("../img/calculator__bg.webp");
}

.webp .popup__form {
	background: url("../img/png/keys.webp") 110% 110% no-repeat, url("../img/bg_gray.webp");
}

@media screen and (max-width: 1280px) {
	.calculator__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: end;
		align-items: end;
	}

	.partners {
		padding-top: 200px;
	}

	.input__form__cta {
		width: 270px;
		margin: 0px;
	}

	.calculator__item {
		width: 21%;
		display: flex;
		margin-bottom: 30px;
	}

	.container {
		padding: 0px 20px;
	}

	.calculator__submit {
		margin: 60px 0px 100px;
	}

	.privilege__header {
		padding-top: 70px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.welcome__title {
		font-size: 42px;
		max-width: 620px;
	}

	.advantages__item-01 {
		left: 0%;
		top: 20%;
	}

	.advantages__item-02 {
		left: -2%;
		top: 45%;
	}

	.advantages__item-03 {
		left: 0%;
		top: 80%;
	}

	.advantages__item-04 {
		right: 0%;
		top: 20%;
	}

	.advantages__item-05 {
		right: -2%;
		top: 45%;
	}

	.advantages__item-06 {
		right: 0%;
		top: 80%;
	}

	.partners__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.wallform__input {
		max-width: 300px;
	}

	.wallform__button {
		width: 280px;
	}

	.container {
		max-width: 1140px;
	}

	.welcome__title {
		font-size: 42px;
		max-width: 620px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 960px;
	}

	.wallform__fill {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-align: center;
		align-items: center;
		flex-direction: column;
	}

	.cta,
	.btn__results {
		font-size: 18px;
	}

	.qa__current {
		font-size: 18px;
	}

	.qa__hidden {
		font-size: 14px;
	}

	.form__wrapper {
		max-width: 500px;
		margin: 0px auto;
	}

	.wallform__content {
		max-width: 450px;
		margin-right: auto;
		margin-left: auto;
	}

	.section__title {
		font-size: 28px;
	}

	.form__title {
		font-size: 24px;
	}

	.contacts__social,
	.contacts__connect {
		display: none;
	}

	.main__title {
		font-size: 28px;
	}

	.welcome__title {
		font-size: 38px;
		max-width: 560px;
	}

	.welcome__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}

	.advantages__image {
		max-width: 50%;
	}

	.advantages__pulse::before {
		width: 400px;
		height: 400px;
	}

	.advantages__pulse::after {
		width: 200px;
		height: 200px;
	}

	.advantages__item {
		font-size: 18px;
		width: 200px;
	}

	.advantages__item-01 {
		left: 0%;
		top: 10%;
	}

	.advantages__item-02 {
		left: -2%;
		top: 50%;
	}

	.advantages__item-03 {
		left: 0%;
		top: 90%;
	}

	.advantages__item-04 {
		right: 0%;
		top: 10%;
	}

	.advantages__item-05 {
		right: -2%;
		top: 50%;
	}

	.advantages__item-06 {
		right: 0%;
		top: 90%;
	}

	.footer__contacts {
		display: none;
	}

	.footer__politics {
		text-align: end;
	}

	.container {
		max-width: 960px;
	}

	.contacts__social,
	.contacts__connect {
		display: none;
	}

	.welcome__title {
		font-size: 38px;
		max-width: 560px;
	}

	.welcome__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}

	.welcome__button {
		width: 240px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 100%;
		max-width: 960px;
		padding: 0px 15px;
	}

	.privilege__item {
		padding: 22px;
		flex-basis: 38%;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}

	.input-inner {
		float: left;
		margin: 12px;
		position: relative;
		width: auto;
	}

	.stages__mobile__wrap .section__title {
		font-size: 28px;
	}
}

@media screen and (max-width: 920px) {
	.calculator {
		padding-bottom: 280px;
	}

	.form__feedback {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
	}

	.phone {
		margin-bottom: 30px;
	}

	.input__form__cta {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 824px) {
	.header__text {
		display: none;
	}

	.privilege__item {
		padding: 22px;
		flex-basis: 100%;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}
}

@media screen and (max-width: 800px) {
	.form {
		bottom: -10%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 720px;
	}

	.calculator {
		padding-bottom: 330px;
	}

	.button__service {
		margin-top: 10px;
	}

	.advantages__pulse {
		top: 50%;
		left: 50%;
	}

	.btn__results {
		position: absolute;
		display: flex;
		width: 207px;
		justify-content: center;
		align-items: center;
		left: 25%;
	}

	.button__service {
		display: none;
	}

	.welcome__content {
		padding-top: 80px;
	}

	.logo__descript {
		display: none;
	}

	.image-car {
		display: none;
	}

	.partners__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer__link {
		font-size: 16px;
	}

	.footer__security {
		font-size: 14px;
	}

	.container {
		max-width: 720px;
	}

	.advantages__item {
		font-size: 16px;
	}

	.logo__descript {
		display: none;
	}

	.stages {
		display: none;
	}

	.stages__mobile {
		display: block;
	}

	.stages__mobile__wrap .section__title {
		color: rgb(0, 0, 0);
		margin-bottom: 40px;
		padding-top: 20px;
	}

	.stages__content {
		max-width: 100%;
		padding: 9px;
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		margin-bottom: 20px;
	}

	.stages__item {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		border: 1px solid rgb(209, 209, 209);
		background: rgb(255, 255, 255);
		border-radius: 5px;
		padding: 18px 15px;
	}
}

.stages__item span {
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: rgb(0, 0, 0);
	font-weight: 600;
	margin-bottom: 10px;
}

.stages__item p {
	display: flex;
	justify-content: center;
	color: rgb(0, 0, 0);
	font-size: 18px;
	text-align: center;
}

.calculator__wrapper {
	align-items: center;
}

@media screen and (max-width: 682px) {
	.calculator__item {
		width: 50%;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 655px) {
	.offer__title {
		font-size: 40px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}

	.advantages__image {
		margin-bottom: 30px;
	}

	.partners__item {
		max-width: 260px;
	}

	.footer__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.form__title {
		font-size: 24px;
	}

	.footer__politics {
		text-align: center;
	}

	.container {
		max-width: 100%;
	}

	.welcome__button {
		width: 220px;
	}

	.advantages__pulse::before {
		width: 300px;
		height: 300px;
	}

	.advantages__pulse::after {
		width: 150px;
		height: 150px;
	}

	.advantages__item {
		width: 300px;
		position: static;
		margin-bottom: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 460px) {
	.header__call-back {
		display: none;
	}

	.accordion {
		font-size: 16px;
	}

	.form__title {
		font-size: 24px;
		max-width: 260px;
		margin: 0px auto;
	}

	.advantages__pulse {
		top: 28%;
		left: 50%;
	}

	.advantages__pulse::before {
		width: 200px;
		height: 200px;
	}

	.advantages__pulse::after {
		width: 100px;
		height: 100px;
	}

	.advantages__image {
		max-width: 70%;
	}
}

@media screen and (max-width: 376px) {
	.wallform__input {
		width: 235px;
	}

	.cta,
	.btn__results {
		font-size: 18px;
		padding: 16px 35px;
	}

	.btn__results {
		left: 20%;
	}
}

@media screen and (max-width: 320px) {
	.btn__results {
		left: 14%;
	}
}
