/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

@charset "UTF-8";

/* обнуление всех CSS стилей */

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-family: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:focus {
	outline: none;
}

header,
nav,
aside,
footer {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
button {
	color: inherit;
}

/* ================================================ */

body {
	font-family: 'Montserrat', sans-serif;
	background: url(../img/bg_gray.png);
	color: #fff;
}

.container {
	max-width: 1170px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: 'Russo One', sans-serif;
}

.section__title {
	font-family: 'Russo One', sans-serif;
	font-size: 36px;
	text-align: center;
	padding-top: 100px;
}

.section__subtitle {
	font-size: 18px;
	text-align: center;
}

.reset {
	border: none;
	background-color: transparent;
}

.button {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	border-radius: 5px;
	height: 70px;
	width: 300px;
	background: -o-linear-gradient(top, #c16649 0%, #e34949 99%, #e34949 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
	background: linear-gradient(to bottom, #c16649 0%, #e34949 99%, #e34949 100%);
	color: #fff;
}

/* ================================================ */

.header {
	position: fixed;
	width: 100%;
	z-index: 30;
}

.header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo__icon {
	fill: #fff;
	width: 80px;
	height: 80px;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.logo__icon:hover {
	opacity: 0.7;
}

.logo__descript {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 23px;
	font-size: 14px;
}

.logo__descript::before {
	content: '';
	background-color: #fff;
	width: 1px;
	height: 50px;
	margin-right: 14px;
}

.contacts__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 30px;
}

.contacts__connect {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contacts__tel {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.contacts__tel:hover {
	opacity: 0.7;
}

.contacts__button {
	text-decoration: underline;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.contacts__button:hover {
	text-decoration: none;
	opacity: 0.7;
}

.social__icon {
	fill: rgb(255, 255, 255);
	width: 26px;
	height: 26px;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.social__icon:hover {
	opacity: 0.7;
}

.social__icon:last-child {
	margin-left: 7px;
}

.menu {
	margin-left: 18px;
}

.menu__icon {
	fill: rgb(255, 255, 255);
	width: 42px;
	height: 42px;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.menu__icon:hover {
	opacity: 0.7;
}

.menu__content {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}

.menu__burger.active {
	border: none;
	outline: none;
}

.menu__burger.active~.menu__content {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu__burger.active~.menu__content .menu__block {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.menu__block {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100vh;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #000;
}

.menu__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.menu__icon {
	width: 42px;
	height: 42px;
}

.menu__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	height: 100vh;
	margin-left: 70px;
}

.menu__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 50% 0;
}

.menu__link {
	font-size: 18px;
	letter-spacing: 0.1em;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.menu__link:not(:last-child) {
	margin-bottom: 20px;
}

.menu__link:hover {
	opacity: 0.7;
}

header.scrolled {
	background-color: rgba(255, 255, 255, 0.9);
}

header.scrolled .header__logo .logo__icon {
	fill: #303030;
}

header.scrolled .logo__descript {
	color: #303030;
}

header.scrolled .logo__descript::before {
	background-color: #303030;
}

header.scrolled .contacts__social .social__icon {
	fill: #303030;
}

header.scrolled .header__contacts .menu__burger .menu__icon {
	fill: #303030;
}

header.scrolled .header__contacts .contacts__tel,
header.scrolled .header__contacts .contacts__button {
	color: #303030;
}

.welcome {
	background: url(../img/bg_welcome.jpg) no-repeat center/cover;
	min-height: 600px;
	max-height: 800px;
	height: 100vh;
}

.welcome__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 600px;
	max-height: 800px;
	height: 100vh;
}

.welcome__title {
	font-size: 48px;
	max-width: 775px;
	margin-bottom: 50px;
}

.welcome__list {
	margin-bottom: 50px;
}

.welcome__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.welcome__item:not(:last-child) {
	margin-bottom: 12px;
}

.welcome__icon {
	fill: #fff;
	width: 36px;
	height: 36px;
	margin-right: 14px;
}

.welcome__button {
	font-family: 'Russo One',
		sans-serif;
	font-size: 20px;
	padding: 15px;
	width: 260px;
	text-align: center;
	background: -o-linear-gradient(top, #c16649 0%, #e34949 99%, #e34949 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
	background: linear-gradient(to bottom, #c16649 0%, #e34949 99%, #e34949 100%);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
	height: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}

.welcome__button .flare {
	position: absolute;
	top: 0;
	height: 100%;
	width: 45px;
	-webkit-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	transform: skewX(-45deg);
	-webkit-animation: flareAnimation;
	animation: flareAnimation;
	left: -150%;
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4)));
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	-webkit-animation: flareAnimation 2s infinite linear;
	animation: flareAnimation 2s infinite linear;
}

@-webkit-keyframes flareAnimation {
	0% {
		left: -150%;
	}

	100% {
		left: 150%;
	}
}

@keyframes flareAnimation {
	0% {
		left: -150%;
	}

	100% {
		left: 150%;
	}
}

.stages {
	color: #000;
}

.stages__title {
	margin-bottom: 170px;
}

.stages__wrap {
	position: relative;
}

.stages__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	position: relative;
	z-index: 9;
}

.stages__info::before {
	content: "";
	background-color: black;
	position: absolute;
	top: 50%;
	left: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}

.fields {
	max-width: 600px;
}

.stages__circle {
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: #000;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.stages__circle-02::before,
.stages__circle-04::before {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: -100px;
	font-size: 18px;
	text-align: center;
	width: 350px;
	color: #000;
}

.stages__circle-02::before {
	content: 'Заключаем договор автотранспортного средства';
}

.stages__circle-04::before {
	content: 'Пользуетесь автотранспортным cредством';
}

.stages__circle-01::after,
.stages__circle-03::after,
.stages__circle-05::after {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 100px;
	font-size: 18px;
	text-align: center;
	width: 250px;
	color: #000;
}

.stages__circle-01::after {
	content: 'Оставляете заявку и мы с вами связываемся';
}

.stages__circle-03::after {
	content: 'Выкупаем автомобиль и передаем его вам';
}

.stages__circle-05::after {
	content: 'Вносите выкупной платеж';
}

.stages__image {
	width: 270px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -90%;
}

.stages__mobile {
	display: none;
}

.stages__button {
	background: transparent;
	border-radius: 5px;
	border: 2px solid #e34949;
	opacity: 0.99;
	color: black;
	font-family: "Russo One";
	font-size: 20px;
	font-weight: 400;
	padding: 21px 52px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-top: 115px;
}

.stages__button:hover {
	background: -o-linear-gradient(top, #c16649 0%, #e34949 99%, #e34949 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
	background: linear-gradient(to bottom, #c16649 0%, #e34949 99%, #e34949 100%);
	color: #fff;
}

.stmobile {
	display: none;
}

.advantages {
	color: #000;
	margin-bottom: 50px;
}

.advantages__title {
	margin-bottom: 70px;
}

.advantages__info {
	position: relative;
}

.advantages__wrapper {
	position: relative;
}

.advantages__image {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.advantages__pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.advantages__pulse::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid rgba(126, 126, 126, 0.3);
	border-radius: 50%;
	width: 500px;
	height: 500px;
	-webkit-animation: pulse-border 2000ms ease-out infinite;
	animation: pulse-border 2000ms ease-out infinite;
}

.advantages__pulse::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid rgba(126, 126, 126, 0.3);
	border-radius: 50%;
	width: 300px;
	height: 300px;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	-webkit-animation: pulse-border 2000ms ease-out infinite;
	animation: pulse-border 2000ms ease-out infinite;
}

.advantages__item {
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 250px;
}

.advantages__item-01 {
	left: 5%;
	top: 20%;
}

.advantages__item-02 {
	left: 0%;
	top: 45%;
}

.advantages__item-03 {
	left: 5%;
	top: 80%;
}

.advantages__item-04 {
	right: 5%;
	top: 20%;
}

.advantages__item-05 {
	right: 0%;
	top: 45%;
}

.advantages__item-06 {
	right: 5%;
	top: 80%;
}

@-webkit-keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.calculator {
	padding-top: 50px;
	padding-bottom: 285px;
	background-image: url("../img/calculator__bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.main__title {
	font-family: "Russo One";
	font-size: 36px;
	color: white;
	text-align: center;
	margin-bottom: 70px;
}

.calculator__inner {
	margin-bottom: 30px;
}

.calculator__transport {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 40px;
}

.calculator__item {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 10;
	cursor: pointer;
}

#svgCar,
#svgSpec {
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.calc_item__active {
	color: #ff9696;
}

.calc_item__active svg {
	fill: #ff9696;
}

.calc_item__active p {
	color: #ff9696 !important;
}

.calculator__ico {
	display: block;
	width: 60px;
	height: 60px;
	pointer-events: none;
	fill: white;
}

.calculator__item p {
	margin-top: 12px;
	display: block;
	color: white;
}

.calculator__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.calculator__form {
	width: 100%;
	max-width: 641px;
}

.calculator__submit {
	width: 100%;
	max-width: 455px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 30px 30px 75px;
	position: relative;
}

.calculator input {
	width: 100%;
	padding: 6px 6px 4px 10px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	outline: none;
	border-radius: 5px;
}

input[type="range"] {
	overflow: hidden;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: 0px;
	margin: 0px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

input[type="range"]:hover {
	opacity: 0.7;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	background: white;
	border: 2px solid #cb5b49;
	border-radius: 50%;
	cursor: pointer;
}

.field__carprice,
.field__deposit {
	margin-bottom: 42px;
}

.left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.left__title {
	position: absolute;
	padding-left: 10px;
}

.left__input {
	padding-right: 10px;
	text-align: end;
}

.results__info,
.results__description {
	margin-bottom: 18px;
}

.results__info p {
	font-weight: bold;
	padding-top: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.results__line {
	max-width: 100%;
	height: 1px;
	background-color: #d1d1d1;
	margin-top: 17px;
}

.results__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	line-height: 1.8;
}

.form__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.form__text p {
	display: block;
	font-size: 14px;
	color: white;
}

.cta:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	background-image: -o-linear-gradient(#b95432 0px, #da3333 99%, #cc2626 100%);
	background-image: linear-gradient(#b95432 0px, #da3333 99%, #cc2626 100%);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	overflow: hidden;
}

.cta__span {
	position: relative;
	z-index: 1;
}

.welcome__button .flare {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 45px;
	-webkit-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	transform: skewX(-45deg);
	left: -150%;
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4)));
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	-webkit-animation: 2s linear 0s infinite normal none running flareAnimation;
	animation: 2s linear 0s infinite normal none running flareAnimation;
}

.cta:hover:after {
	opacity: 1;
}

.cta,
.btn__results {
	background-color: #e34949;
	background-image: -o-linear-gradient(#c16649 0%, #e34949 99%, #e34949 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
	background-image: linear-gradient(#c16649 0%, #e34949 99%, #e34949 100%);
	color: white;
	padding: 25px 50px;
	border-radius: 5px;
	text-decoration: none;
	font-family: "Russo One";
	font-size: 20px;
	cursor: pointer;
	position: relative;
	overflow-x: hidden;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.btn__results {
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	bottom: -8%;
	left: 16%;
	overflow-x: hidden;
}



.wallform {
	color: #000;
	position: relative;
}

.wallform__content {
	background: url(../img/png/keys.png) no-repeat 100% 120%, url(../img/bg_gray.png);
	-webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	margin-top: -10%;
}

.wallform__frame {
	border-radius: 5px;
	border: 1px solid #dedada;
	padding: 30px 50px;
}

.wallform__title {
	font-family: 'Russo One', sans-serif;
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
}

.wallform__title span {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	display: block;
	margin-top: 8px;
}

.wallform__fill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.wallform__button {
	margin-bottom: 10px;
	max-width: 280px;
	padding: 23px 10px;
}

.wallform__politic {
	font-size: 14px;
	text-align: center;
	width: 300px;
}

.wallform__link {
	text-decoration: underline;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.wallform__link:hover {
	text-decoration: none;
	opacity: 0.7;
}

.popup {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	color: #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.popup__form {
	position: relative;
	background-color: #fff;
	background: url(../img/png/keys.png) no-repeat 110% 110%, url(../img/bg_gray.png);
	padding: 5px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 5px;
}

.popup__frame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #dedada;
	padding: 30px 30px 50px;
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.popup__icon {
	width: 36px;
	height: 36px;
}

.popup__title {
	font-family: 'Russo One', sans-serif;
	font-size: 24px;
	margin-bottom: 50px;
}

.popup__title span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	display: block;
	margin-top: 8px;
}

.popup__fill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.popup__input {
	margin-bottom: 20px;
}

.popup__politic {
	font-size: 14px;
	text-align: center;
	width: 300px;
}

.popup__link {
	text-decoration: underline;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.popup__link:hover {
	text-decoration: none;
	opacity: 0.7;
}

.popup__button {
	margin-bottom: 8px;
}

.popup__warn {
	display: none;
}

.input {
	padding: 0 10px;
	border-radius: 5px;
	height: 70px;
	width: 300px;
	-webkit-box-shadow: inset -1px 3px 10px 1px #d8d8d8;
	box-shadow: inset -1px 3px 10px 1px #d8d8d8;
}

.popup.active {
	opacity: 1;
	visibility: visible;
}

.popup.active .popup__form {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.input.error {
	border: 2px solid #ff0000;
	margin: 0 0 10px 0;
}

label.error {
	display: block;
	font-size: 14px;
	width: 280px;
	text-align: center;
	margin: 0 0 30px 0;
}

.partners {
	color: #000;
}

.partners__title {
	margin-bottom: 18px;
}

.partners__subtitle {
	margin-bottom: 70px;
}

.partners__list {
	display: -ms-grid;
	display: grid;
	text-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 80px;
}

.qa {
	color: #000;
	margin-bottom: 50px;
}

.qa__title {
	margin-bottom: 18px;
}

.qa__subtitle {
	margin-bottom: 70px;
}

.qa__wrapper {
	background: #fff;
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;
}

.qa__frame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid #dedada;
	padding: 40px 20px;
}

.qa__accordion:not(:last-child) {
	margin-bottom: 50px;
}

.qa__accordion::after {
	content: '';
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #dedada;
	width: 100%;
	height: .5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.qa__current {
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
	line-height: 1.3;
}

.qa__current::after {
	content: "\203A";
	position: relative;
	color: #d1d1d1;
	font-size: 30px;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}

.qa__hidden {
	line-height: 1.3;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.2s ease-in-out;
	-o-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
}

.qa__current.active {
	margin-bottom: 30px;
}

.qa__current.active::after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.footer {
	background-color: #555353;
	padding-top: 10px;
	padding-bottom: 15px;
}

.footer__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer__politics {
	text-align: center;
}

.footer__link {
	font-size: 18px;
	text-decoration: underline;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.footer__link:hover {
	text-decoration: none;
	opacity: 0.7;
}

.footer__security {
	margin-top: 7px;
}

.footer__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	color: #000;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.modal__content {
	position: relative;
	background-color: #fff;
	background: url(../img/bg_gray.png);
	border-radius: 5px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 5px;
}

.modal__frame {
	border: 1px solid #dedada;
	border-radius: 5px;
	padding: 50px 300px;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal__icon {
	width: 36px;
	height: 36px;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.modal__icon:hover {
	opacity: 0.7;
}

.modal__title {
	font-family: 'Russo One', sans-serif;
	font-size: 24px;
}

.modal.active {
	opacity: 1;
	visibility: visible;
}

.modal.active .modal__content {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

/* ================================================ */

@media screen and (max-width: 1280px) {
	.calculator__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	}

	.calculator__item {
		width: 21%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 30px;
	}

	.calculator__submit {
		margin: 60px 30px 100px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.welcome__title {
		font-size: 42px;
		max-width: 620px;
	}

	.advantages__item-01 {
		left: 0%;
		top: 20%;
	}

	.advantages__item-02 {
		left: -2%;
		top: 45%;
	}

	.advantages__item-03 {
		left: 0%;
		top: 80%;
	}

	.advantages__item-04 {
		right: 0%;
		top: 20%;
	}

	.advantages__item-05 {
		right: -2%;
		top: 45%;
	}

	.advantages__item-06 {
		right: 0%;
		top: 80%;
	}

	.partners__list {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}

	.wallform__input {
		width: 280px;
	}

	.wallform__wrap {
		text-align: center;
	}

	.qa__wrapper {
		max-width: 90vw;
	}

	.qa__current {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 960px;
	}

	.calculator__wrapper {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.section__title {
		font-size: 28px;
	}

	.contacts__social,
	.contacts__connect {
		display: none;
	}

	.welcome__title {
		font-size: 38px;
		max-width: 560px;
	}

	.welcome__icon {
		width: 30px;
		height: 30px;
		margin-right: 12px;
	}

	.welcome__button {
		width: 240px;
	}

	.stages__info {
		max-width: 75%;
	}

	.stages__circle {
		font-size: 24px;
		width: 40px;
		height: 40px;
	}

	.stages__image {
		top: -80%;
		width: 170px;
	}

	.stages__circle-02::before,
	.stages__circle-04::before {
		top: -85px;
		width: 240px;
		font-size: 16px;
	}

	.stages__circle-01::after,
	.stages__circle-03::after,
	.stages__circle-05::after {
		top: 85px;
		width: 200px;
		font-size: 16px;
	}

	.stages__button {
		font-size: 18px;
		padding: 13px 30px 13px;
	}

	.advantages__image {
		max-width: 50%;
	}

	.advantages__pulse::before {
		width: 400px;
		height: 400px;
	}

	.advantages__pulse::after {
		width: 200px;
		height: 200px;
	}

	.advantages__item {
		font-size: 18px;
		width: 200px;
	}

	.advantages__item-01 {
		left: 0%;
		top: 10%;
	}

	.advantages__item-02 {
		left: -2%;
		top: 50%;
	}

	.advantages__item-03 {
		left: 0%;
		top: 90%;
	}

	.advantages__item-04 {
		right: 0%;
		top: 10%;
	}

	.advantages__item-05 {
		right: -2%;
		top: 50%;
	}

	.advantages__item-06 {
		right: 0%;
		top: 90%;
	}

	.wallform__content {
		max-width: 450px;
		margin-right: auto;
		margin-left: auto;
	}

	.wallform__fill {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.wallform__input {
		margin-bottom: 40px;
	}

	.footer__contacts {
		display: none;
	}

	.footer__politics {
		text-align: end;
	}
}

@media screen and (max-width: 920px) {
	.calculator {
		padding-bottom: 280px;
	}
}

@media screen and (max-width: 800px) {
	.form {
		bottom: -10%;
	}
}

@media (max-width: 768px) {
	.calculator {
		padding-bottom: 200px;
	}

	.btn__results {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		left: 20%;
	}

	.container {
		max-width: 720px;
	}

	.logo__descript {
		display: none;
	}

	.stages {
		display: none;
	}

	.stmobile {
		display: block;
		color: #000;
	}

	.wallform__button {
		margin-bottom: 10px;
		max-width: 280px;
		padding: 23px 10px;
	}

	.stmobile__title {
		margin-bottom: 70px;
	}

	.stmobile__content {
		max-width: 100%;
		padding: 5px;
		border-radius: 5px;
		background-color: #fff;
	}

	.stmobile__content:not(:last-child) {
		margin-bottom: 20px;
	}

	.stmobile__frame {
		max-width: 100%;
		border: 1px solid #dedada;
		border-radius: 5px;
		padding: 20px;
	}

	.stmobile__step {
		display: block;
		font-family: 'Russo One', sans-serif;
		font-size: 14px;
		margin-bottom: 10px;
	}

	.stmobile__button {
		border: 2px solid #e34949;
		border-radius: 5px;
		font-family: "Russo One";
		font-size: 18px;
		padding: 10px 30px 10px;
		-webkit-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
		margin-top: 20px;
	}

	.stmobile__button:hover {
		background: -o-linear-gradient(top, #c16649 0%, #e34949 99%, #e34949 100%);
		background: -webkit-gradient(linear, left top, left bottom, from(#c16649), color-stop(99%, #e34949), to(#e34949));
		background: linear-gradient(to bottom, #c16649 0%, #e34949 99%, #e34949 100%);
		color: #fff;
	}

	.advantages__item {
		font-size: 16px;
		width: 150px;
	}

	.advantages__pulse::before {
		width: 300px;
		height: 300px;
	}

	.advantages__pulse::after {
		width: 150px;
		height: 150px;
	}

	.advantages__image {
		max-width: 40%;
	}

	.partners__list {
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
	}

	.qa__wrapper {
		max-width: 100vw;
	}

	.footer__link {
		font-size: 16px;
	}

	.footer__security {
		font-size: 14px;
	}
}

@media screen and (max-width: 682px) {
	.calculator__item {
		width: 50%;
		margin-bottom: 25px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}

	.section__title {
		font-size: 24px;
	}

	.main__title {
		font-family: "Russo One";
		font-size: 24px;
	}

	.btn__results {
		left: 18%;
	}

	.welcome__button {
		width: 220px;
	}

	.stmobile__frame {
		padding: 20px 15px;
	}

	.advantages__title {
		margin-bottom: 50px;
	}

	.advantages__pulse::before {
		width: 200px;
		height: 200px;
	}

	.advantages__pulse::after {
		width: 100px;
		height: 100px;
	}

	.advantages__image {
		max-width: 80%;
	}

	.advantages__item {
		position: inherit;
		width: 100%;
		margin: 20px auto;
	}

	.advantages__item-01 {
		left: 0%;
		top: 10%;
	}

	.advantages__item-02 {
		left: -2%;
		top: 50%;
	}

	.advantages__item-03 {
		left: 0%;
		top: 90%;
	}

	.advantages__item-04 {
		right: 0%;
		top: 10%;
	}

	.advantages__item-05 {
		right: -2%;
		top: 50%;
	}

	.advantages__item-06 {
		right: 0%;
		top: 90%;
	}

	.partners__item {
		max-width: 100%;
	}

	.wallform__frame {
		padding: 30px 20px;
	}

	.wallform__title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.wallform__title span {
		font-size: 14px;
	}

	.wallform__content {
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}

	.wallform__button {
		margin-bottom: 10px;
		max-width: 260px;
		padding: 23px 10px;
	}

	.wallform__fill {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.wallform__input {
		margin-bottom: 40px;
		width: 260px;
	}

	.footer__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.footer__politics {
		text-align: center;
	}

	.popup__form {
		width: 100%;
	}

	.popup__frame {
		padding: 40px 10px 20px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.popup__close {
		top: 5px;
		right: 5px;
	}
}


@media (max-height: 415px) {
	.menu__nav {
		margin: 10% 0;
	}

	.popup__frame {
		display: none;
	}

	.popup__warn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		font-family: 'Russo One', sans-serif;
		font-size: 24px;
		font-weight: 500;
		width: 100vw;
		height: 100vh;
	}
}

@media screen and (max-width: 376px) {
	.btn__results {
		left: 10.5%;
	}

	.calculator__submit {
		font-size: 14px;
	}
}

@media screen and (max-width: 375px) {

	.cta,
	.btn__results {
		padding: 25px 35px;
	}
}

.webp body {
	background: url(../img/bg_gray.webp);
}

.webp .welcome {
	background: url(../img/bg_welcome.webp) no-repeat center/cover;
}

.webp .calculator {
	background-image: url(../img/calculator__bg.webp);
}

.webp .wallform__content {
	background: url(../img/png/keys.webp) no-repeat 100% 120%, url(../img/bg_gray.webp);
}

.webp .popup__form {
	background: url(../img/png/keys.webp) no-repeat 110% 110%, url(../img/bg_gray.webp);
}

.webp .modal__content {
	background: url(../img/bg_gray.webp);
}